@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil1Thin';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil1Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil3Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil3Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil2Light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil2Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TheJamsil4Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil4Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}


*{margin : 0; padding:0;}

li {list-style: none;}

a { text-decoration: none; color : #111; display: block;
    font-family: 'TheJamsil5Bold';
}

body { font-family: 'TheJamsil5Bold';}

html, body { overflow-x: hidden; }

p { font-family: 'TheJamsil4Medium';}

.wrap { width: 100%; margin : 0 auto;}

img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
}
.center {
    width:1200px;
    margin:0 auto;
}
header {
    width: 100%;
    height: 140px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 20px;
    z-index: 100;
    background-color: white;
    transition: top 0.5s;
    position: fixed;
    top:0;
}

header .logo {
    width: 200px;
    margin: 0 auto;
}

header .navi-area {
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .navi-area .menu-icon {

    height: 28px;
    display: flex;
    align-items: center;
}
header .navi-area .menu-btn {
    width: 28px;
    margin-right: 20px;
}
header .navi-area .logo2 {
    width: 150px;
    opacity: 0;
    transition: opacity 0.5s;
}

header .navi-area nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header .navi-area nav ul {
    display: flex;
}

header .navi-area nav ul li {
    margin: 0 20px;
}

header .navi-area nav ul li a {
    font-size: 18px;
    font-weight: bold;
}

header .navi-area nav ul li a:hover {
    color: #295F98;
}

header .navi-area .member ul {
    display: flex;
    align-items: center;
}

header .navi-area .member ul li {
    margin-left: 20px;
}

header .navi-area .member ul li a {
    font-size: 14px;
}

header .navi-area .member ul li:last-child {
    width: 30px;
    height: 30px;
    position: relative;
}

header .navi-area .member ul li:last-child span {
    position: absolute;
    display: block;
}

header .navi-area .member ul li:last-child .search-icon {
    display: block;
    /*보임*/
}

header .navi-area .member ul li:last-child .close-icon {
    display: none;
    /*안보임*/
}

header.sticky {
    top:-110px;    
}
header.sticky .navi-area .logo2 {
    opacity: 1;
}
.sitemap {
    display : none;
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.sitemap .sitemap-in {
    width : 480px;
    height : 100%;
    position :relative;
    background-color: white;
    padding : 24px;
    padding-right : 10px;
}

.sitemap .sitemap-in .close-btn {
    width: 40px;
    height: 40px;
}

.sitemap .sitemap-in .sitebox{
    width: 80%;
    height : calc(100% - 100px);
    margin-top : 30px;
    float:right;
    padding-right:10%;
    overflow-x: scroll;
}

.sitemap .sitemap-in .sitebox .memberbox ul{
    display: flex;
    margin: 30px auto;
}

.sitemap .sitemap-in .sitebox .memberbox ul li{
    margin-right : 20px;
}

.sitemap .sitemap-in .sitebox .memberbox ul li a{
    color : #666;
    font-size: 14px;
}

.sitemap .sitemap-in .sitebox .menu1 {
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 30px;
    margin-bottom : 50px;

}

.sitemap .sitemap-in .sitebox .menu1 li{
    margin-bottom : 50px;
}



.sitemap .sitemap-in .sitebox .menu1 ul li a {
    font-size: 28px;
    margin : 30px 0;
    margin-bottom : 50px;
}

.sitemap .sitemap-in .sitebox .menu2 > ul > li{
    margin-bottom : 50px;
}
.sitemap .sitemap-in .sitebox .menu2 > ul > li > a{
    font-size : 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitemap .sitemap-in .sitebox .menu2 > ul > li > a i{
    position: relative;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
}

.sitemap .sitemap-in .sitebox .menu2 > ul > li > a i span{
    position: absolute;
    width:2px;
    height: 20px;
    background-color: #999;

}

.sitemap .sitemap-in .sitebox .menu2 > ul > li > a i span.bar1{
    transform: rotateZ(90deg);

}

.sitemap .sitemap-in .sitebox .menu2 > ul > li > a i span.bar2{
    display: none;

}

.sitemap .sitemap-in .sitebox .menu2 .sub li a{
    font-size : 16px;
    color : #888;
    margin : 20px 0;
    font-family: 'TheJamsil3Regular'; 
}

.sitemap .sitemap-in .sitebox .SNS ul {
    display : flex;
    flex-flow : row wrap;
    margin : 50px 0;

}

.sitemap .sitemap-in .sitebox .SNS ul li {
    margin-right : 40px;
    margin-bottom : 40px;

} 
.sitemap .SNS ul li a img{
    width : 30px;
}

/* .sitemap 영역의 .sitebox 스크롤바 수정하기  */

.sitemap .sitemap-in .sitebox::-webkit-scrollbar {
    position: relative;
    left: 5px;
    width: 4px;
    height:2px;

}

.sitemap .sitemap-in .sitebox::-webkit-scrollbar-thumb {
    background-color: #494949;

}

.sitemap .sitemap-in .sitebox::-webkit-scrollbar-track {

    background-color: #dadada;
}

.sitemap .sitemap-bg {
    position : absolute;
    right:0;
    top:0;
    background-color: rgba(0,0,0,0.7);
    width : calc(100% - 510px);
    height : 100%;
    
}

.search-area{
    display : none;
    position: fixed;
    left:0;
    top : 190px;
    z-index: 200;
    width : 100%;
    height : calc(100% - 130px);

}

.search-area.sticky {
    top: 80px;
    height: calc(100% - 80px);
}

.search-area .search-bg{
    position : absolute;
    background-color: rgba(0,0,0,0.7);
    width : 100%;
    height : 100%;

}

.search-area .search-in {
    
    position :absolute;
    border-top : 1px solid #ddd;
    width : 100%;
    height : 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

}
    
.search-area .input-area {
    width : 790px;
    height : 60px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-area .input-area input{
    border : none;
    width : 100%;
    height : 80%;
    padding : 5px;
    font-size : 16px;
    
}

/* input-area 안의 x버튼 커스텀 */

.search-area .search-in .input-area .search-input::-webkit-search-cancel-button{

    -webkit-appearance: none;
    width: 30px;
    height :30px;
    background : url(../img/close_icon.svg) center center no-repeat;
    background-size : cover;
    cursor : pointer;
    
}


.search-area .search-in .input-area input:focus {
    outline : none;
}

.search-area .input-area .search-btn{
    display: flex;
    position: relative;
}
.search-area .input-area .search-btn button{
    width: 30px;
    cursor : pointer;
    background-color: transparent;
    border:none;
    margin-right : 24px;
    
}

.search-area .input-area .search-btn .clear-btn{
    width: 30px;
    height : 30px;
    display: none; 
    cursor : pointer;
    position : absolute;
    right : 30px;
}

/* mainSlide 메인슬라이드 */

.main{
    margin-top: 190px;
}

.main .swiper {
    width : 100%;
}



.main .swiper .swiper-slide {
    width: 100%;
    height :700px;
    position :relative;
}

/* .swiper-slide .img-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%; 
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
} */

.main .swiper .swiper-slide a > div {
    position : absolute;
    width: 100%;
    height: 100%;
}
.main .swiper .swiper-slide .img-box {
    transform: scale( 1,1);
    transition : all 4s;
    position: relative;

    
}

.main .swiper .swiper-slide .img-box p{
    position: absolute;
    bottom:0;
    left:0;
    width :100%;
    height :40%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
}

.main .swiper .swiper-slide-active .img-box {
    transform: scale(1.05,1.05);
    
}
.main .swiper .swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.main .swiper .swiper-slide a .txt-box {
    height :auto;
    color : white;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    bottom : 100px;
    
}
.main .swiper .swiper-slide .txt-box h2 {
    opacity: 0;
    font-size: 40px;
    transition : all 1s;
    transition-delay : 0.5s;
    margin-bottom : 20px;
}
.main .swiper .swiper-slide .txt-box p {
    opacity: 0;
    transition : all 1s;
    transition-delay : 1s;
    font-family: 'TheJamsil2Light';
}
.main .swiper .swiper-slide-active .txt-box h2 {
    opacity: 1;
}
.main .swiper .swiper-slide-active .txt-box p {
    opacity: 1;
    font-family: 'TheJamsil2Light';
}

/* 버튼을 아예 바꾸려면,
    .main .swiper .swiper-button-next::after {
    content : "";
    background : url(../img/(이미지)) center center no-repeat;
    background-size : cover;
    width : - ;
    height : - ;
    // 이미지 뒤집기 transform : rotateY(-180deg);
*/

.main .swiper .swiper-button-prev{
    margin-left :40px;
    color : white;
    opacity: 0.5;
}

.main .swiper .swiper-button-next{
    margin-right :40px;
    color : white;
    opacity: 0.5;
}

.main .swiper .swiper-pagination{
    bottom :40px;
    width : 200px;
    left : 50%;
    transform : translateX(-50%);   
    
}

.main .swiper .swiper-pagination-bullets
.swiper-pagination-bullet{
    position: relative;
    width:40px;
    height: 3px;
    border-radius: 0px;
    background-color: white;
}

/* 페이지네이션의 배경 */
.main .swiper .swiper-pagination-bullets
.swiper-pagination-bullet i {
    position : absolute;
    left:0; top:0;
    width: 100%; height:100%;
    background-color: rgba(255,255,255,0.4);
}
/* 페이지네이션 진행도 */
.main .swiper .swiper-pagination-bullets
.swiper-pagination-bullet b {
    position : absolute;
    left:0; top:0;
    width: 0; height:100%;
    background-color: rgba(255,255,255,1);
}

.main .swiper .swiper-pagination-bullets
.swiper-pagination-bullet-active {
    background-color: transparent;
}

.main .swiper .swiper-pagination-bullets
.swiper-pagination-bullet-active b{
    width :100%;

    animation-name: countingBar;
    animation-duration: 3s;
    animation-timing-function: ease-in; /* 가속 */
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes countingBar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
}

.main .swiper .swiper-pagination-bullets
.swiper-pagination-progressbar{
    position : absolute;
    background-color: rgba(255,255,255,0.1);
}

.main .swiper .swiper-pagination-bullets
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    position : absolute;
    background-color: white;
    left: 0;
    top: 0;
    width: 100%;
    transform-origin : left top;
    transform : scale(0);
}

/* 섹션 2 */

.s2 {
    margin-top : 100px;
}

/* 모든 제목 h1 */

h1{ font-size : 40px;}

.title{
    width : 100%;
    height: 100px;
    border-bottom: 1px solid #666;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.title h1 {
    font-family: 'TheJamsil3Regular';
    letter-spacing : -1px; 
}
.title a {
    display: flex;
    align-items: center;
    
}

.title i {
    width: 20px;
    height : 20px;
    margin-left : 10px;
}

.container {
    display: flex;
    flex-flow : row nowrap;
    justify-content: space-between;
}

.container > div {
    width : 590px;
}

.container .left-con {
    height : 900px;
}

.container .left-con .main {
    width: 100%;
    height : 780px;
}


.container .right-con {
    height: 1920px;
    display: flex;
    flex-flow : column wrap;
    align-content: space-between;
}

.container .right-con .photo-box{
    margin-bottom : 100px;
}

.container .right-con .photo {
    width: 280px;
    margin-bottom : 24px;
    
}
.container .right-con .short {
    height : 300px;
}
.container .right-con .long {
    height : 400px;
}

/* 모든 사진은 마우스 오버시 크기가 커지고 마우스 아웃 시 다시 작아짐 */

.container .photo {
    overflow: hidden;
    
}

.container .photo img {
    scale : 1;
    transition : scale 0.5s;
}

.container .photo:hover img {
    scale : 1.1
}

.s3 {
    margin : 0 -70%; 
    background-color: #f5f6f8;
    margin-top: 100px;
    padding : 80px 70%;
     
}

.container .swiper1 {
  width: 100%; 
  overflow: visible; 
}

.container .swiper1 .swiper-slide {
    width: 384px;     
}

.container .swiper1 .swiper-slide img {
    width : 384px;
    height : 300px;

}

.container .swiper1 .swiper-scrollbar {
    bottom : -20px;
}

.s4 {
    margin : 0 -70%; 
    background-color: #f5f6f8;
    margin-top: 100px;
    padding : 80px 70%;
     
}

.s4 p {
    font-size: 24px;
}

.s5 {
    margin-top : 100px;
}

/* 모든 제목 h1 */

h1{ font-size : 40px;}

.s5 .title{
    width : 100%;
    height: 100px;
    border-bottom: 1px solid #666;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.s5 .title h1 {
    font-family: 'TheJamsil3Regular';
    letter-spacing : -1px; 
}
.s5 .title a {
    display: flex;
    align-items: center;
}

.s5 .title i {
    width: 20px;
    height : 20px;
    margin-left : 10px;
}

.s5 .container {
    display: flex;
    flex-flow : row nowrap;
    justify-content: space-between;
}

.s5 .container > div {
    width : 590px;
}

.s5 .container .left-con {
    height : 1100px;

}

.s5 .container .left-con .main {
    width: 100%;
    height : 780px;
}
.s5 .container .left-con .photo {
    margin-bottom : 24px;
}

.s5 .container .right-con {
    height: 2100px;
    
}

.s5 .container .right-con a {
    width: 100%;
}

.s5 .container .right-con .photo-box{
    margin-bottom : 100px;
}

.s5 .container .right-con .photo {
    margin-bottom : 24px;
    width : 100%;
}
.s5 .container .right-con .big {
    height : 368px;
}

.container .right-con .big img {
    object-position: center 20%;
}
.s6 {
    width: 100%;
}

.s6 .container > div{
    width : 100%;
    height : 600px;
    display: flex;
    justify-content: space-between;
}   

.s6 .container .photo-box {
    margin: 10px; 
    width: 100%;
}

.s6 .container .photo-box .exam1 {
    width : 400px;
    margin : 20px;
}

.s6 .container .photo-box .exam2 {
    width: 300px;
    margin : 20px;
}



.s7 {
    margin-top: 140px;
}

.s7 .container {
    width: 100%;
    height: 140px;
    background-color: #f5f6f8;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.s7 .container .logo-icon {
    width: 150px;
}

.s7 .container a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.s7 .container a i {
    height: 20px;
    margin-left: 5px;
}



footer {
    width:100%; 
    margin-top: 160px;   
}
footer .footer-top {
    width:100%;
    height:65px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
footer div .center {
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    height:100%;
    align-items: center;
}
footer .footer-top div ul {
    display: flex;
    flex-flow:row nowrap;
}
footer .footer-top div ul li a {
    font-size:15px;
}
footer .footer-top .info ul li {
    margin-right:30px;
}
footer .footer-top .info ul li:nth-child(6) {
    font-weight: bold;
}
footer .footer-top .sns ul li {
    margin-left: 20px;
    width:26px;
}
footer .footer-top .sns ul li:last-child {
    margin-left: 20px;
    width:18px;
}
footer .footer-top .sns ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-bottom {
    height:180px;
}
footer .footer-bottom .footer-logo {
    width:180px;
}
footer .footer-bottom address {
    font-size: 15px;
    font-style:normal;
    line-height: 30px;
}
footer .footer-bottom .family {
    width:180px;
    position: relative;
    z-index: 300;
}
footer .footer-bottom .family > a {
    font-size:15px;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border:1px solid #666;
    padding:8px 18px;
    position: relative;
    z-index:301;
}
footer .footer-bottom .family > a span {
    width:10px;
    height:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer-bottom .family .sub {
    position: absolute;
    bottom:35px;
    overflow: hidden;
    width:100%;
    z-index:300;
    display: none;
}
footer .footer-bottom .family .sub a {
    font-size: 14px;
    padding:12px;
    border:1px solid #999;
    border-bottom:none;
    background-color: white;
}
footer .footer-bottom .family .sub a:hover {
    background-color: #efefef;
}


.top {
    width:50px;
    height:50px;
    background-color: #111;
    text-align: center;
    line-height: 50px;
    position: fixed;
    bottom:30px;
    right:30px;
    z-index:400;
    border-radius: 6px;
}
.top a {
    color:white;
    font-size:14px;
}

.scrollLock{
    overflow: hidden;
    touch-action: none;
}

